div {
  background-color: #8fc0a9;
}

body{
  margin: 0;      /* All 4 margins */
}

h1 {
  margin-top: 0;
}

.square {
  height: 200px;
  width: 200px;
}

.middle-container {
  background-color: red;
}

.bottom-container {
  background-color: blue;
}
